**/bin
**/obj
**/.idea
**/dist
**/node_modules
**/coverage
**/logs
**/temp
**/.vscode
**/.DS_Store
**/Thumbs.db
**/package-lock.json
**/yarn.lock
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
**/.env.*.local

